
input, button {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
  }
  
  .main-div {
	width: 20%;
	margin: 0px auto;
	margin-top: 150px;
	padding: 20px;
	display: none;

  }
  body{
	
	background-size: cover;
	background-position: center;
  }
  .loginsystem{
	  color: lavender;
	  margin-bottom: 1em;
  }
  
  .main-div input {
	display: block;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
	padding: 15px;
	outline: none;
	width: 100%;
	margin-bottom: 20px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
  }
  
  .main-div input:focus {
	border: 1px solid #777;
  }
  
  .main-div button {
	background: #5d8ffc;
	color: #fff;
	border: 1px solid #5d8ffc;
	border-radius: 5px;
	padding: 15px;
	display: block;
	width: 100%;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
  }
  
  .main-div button:hover,.loggedin-div button:hover {
	background: #fff;
	color: #5d8ffc;
	border: 1px solid #5d8ffc;
	cursor: pointer;
  }
  .btn1{
	text-decoration: none;
	background-color: #fff;
	color: #000;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
  }
.btn1 :hover{
	background-color: #fff;
	color: #000;

}
  




*{
	margin: 0;
	padding: 0;
	font-family: Century Gothics;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/bg.jpeg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}


ul li.active a{
	background-color: #fff;
	color: #000;
}
.logo img{
	float: left;
	width: 200px;
	height: auto;
}

.title{
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size: 70px;
}
.button{
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #37c4b6;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover{
	background-color: #37c4b6;
	color: #000;
}


  
  
  